Repository jplhanna/discord_quest_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: alembic

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: double-quote-string-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, production]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        exclude: alembic

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: alembic|test_.*|conftest\.py

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: alembic

Moved helper classes into helper package
  helpers/__init__.py
  helpers/sqlalchemy_helpers.py
  repositories.py
  services.py
Due: black, flake8, mypy, pylint

Start discord bot (#3)
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  Pipfile
  Pipfile.lock
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/60081ae43cc9_.py
  alembic/versions/dd5001604d65_.py
  bot/__init__.py
  bot/commands.py
  bot/controllers.py
  bot/tests/__init__.py
  bot/tests/test_controllers.py
  client.py
  config.py
  constants.py
  containers.py
  docker-compose.yml
  exceptions.py
  helpers/__init__.py
  helpers/sqlalchemy_helpers.py
  logging.ini
  models.py
  repositories.py
  run.py
  services.py
  setup.cfg
  tests/__init__.py
  tests/conftest.py
  tests/test_client.py
  typeshed.py
Due: black, flake8, mypy, pylint

First set of tests implemented
  Pipfile
  Pipfile.lock
  bot/constants.py
  bot/controllers.py
  bot/tests/test_controllers.py
  conftest.py
  services.py
  setup.cfg
  tests/conftest.py
Due: black, flake8, mypy, pylint

Updated test to use sentinel and ensure that function was called with expected id
  bot/tests/test_controllers.py
Due: black, flake8, pylint

Added faker in case it's needed in the future
  Pipfile
  Pipfile.lock
Due: none

Deleted unused test
  tests/test_client.py
Due: black, flake8, pylint

Re-updated functionality to be async, removed UserRepository, instead passing in BaseRepository with User passed in
  bot/controllers.py
  conftest.py
  containers.py
  exceptions.py
  repositories.py
  services.py
  tests/test_repositories.py
Due: black, flake8, mypy, pylint

Fixed test to test async, and replaced some MagicMocks with AsyncMock
  bot/tests/test_controllers.py
Due: black, flake8, pylint

Added validation that you don't create a Query with having but no group by
  helpers/sqlalchemy_helpers.py
Due: black, flake8, mypy, pylint

Created set of tests to ensure query builder works
  .pre-commit-config.yaml
  conftest.py
  tests/test_repositories.py
Due: black, flake8, pylint

Added coverage to pipfiles
  Pipfile
  Pipfile.lock
  tests/test_repositories.py
Due: black, flake8, pylint

Created a test config, and updated docker-compose to create a test db
  config.py
  docker-compose.yml
  test_config.py
Due: black, flake8, mypy, pylint

Updated configuration of tests
  conftest.py
  test_config.py
Due: black, flake8, pylint

Installed libraries for async testing
  Pipfile
  Pipfile.lock
Due: none

Created async db test
  tests/test_repositories.py
Due: black, flake8, pylint

Adding more useful model representation
  models.py
Due: black, flake8, mypy, pylint

Created delete test
  conftest.py
  tests/test_repositories.py
Due: black, flake8, pylint

Removed scalar method, and updated how with_entities works, and updated get_by_id
  repositories.py
Due: black, flake8, mypy, pylint

Created fixtures that create initial user and and connect db to user repository
  .pre-commit-config.yaml
  conftest.py
Due: black, flake8, pylint

Created unit tests for get methods
  tests/test_repositories.py
Due: black, flake8, pylint

Fixed get_count
  repositories.py
  tests/test_repositories.py
Due: black, flake8, mypy, pylint

Merge pull request #4
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  bot/constants.py
  bot/controllers.py
  bot/tests/test_controllers.py
  config.py
  conftest.py
  containers.py
  docker-compose.yml
  exceptions.py
  helpers/sqlalchemy_helpers.py
  models.py
  repositories.py
  services.py
  setup.cfg
  test_config.py
  tests/conftest.py
  tests/test_client.py
  tests/test_repositories.py
Due: black, flake8, mypy, pylint

Create pylint.yml job
  .github/workflows/pylint.yml
Due: none

add python-app.yml
  .github/workflows/python-app.yml
Due: none

Created requirements file to make pipelines easier to run
  requirements.txt
  typeshed.py
Due: black, flake8, mypy, pylint

Updated pipeline build to seperate integration and non integration
  .github/workflows/python-app.yml
Due: none

Updated pylint job so that it can use the config file and ignore files we chose to ignore
  .github/workflows/pylint.yml
  __init__.py
Due: black, flake8, mypy, pylint

Update pylint runner again
  .github/workflows/pylint.yml
  .pylintrc
Due: none

Saved more traditional pipfreeze file
  requirements.txt
Due: none

Deleting non-existent package
  requirements.txt
Due: none

Fixing pylint command
  .github/workflows/pylint.yml
Due: none

New test
  .github/workflows/pylint.yml
Due: none

Require pylint to install all packages
  .github/workflows/pylint.yml
Due: none

Adding messages to alembic migrations to fix flake8 pipeline
  alembic/versions/60081ae43cc9_.py
  alembic/versions/dd5001604d65_.py
Due: none

Change build to use dockerfile
  .github/workflows/python-app.yml
Due: none

Adding coverage to tests, swapping back manual setup from docker setup, and setting pythonpath
  .github/workflows/pylint.yml
  .github/workflows/python-app.yml
Due: none

Adding virtual env command
  .github/workflows/pylint.yml
  .github/workflows/python-app.yml
Due: none
