Repository jplhanna/discord_quest_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, ruff, bandit

black:
  name: black
  entry: black
  language: system
  args:
  - --line-length=120

mypy:
  name: mypy
  entry: mypy
  language: system

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

DQB-27 Updates to testing suite
  .github/workflows/python-app.yml
  docker-compose.yml
  src/conftest.py
  src/containers.py
  src/repositories.py
Due: black, mypy, ruff, bandit

DQB-27 Remove bad fixture, update get first
  src/conftest.py
  src/repositories.py
Due: black, mypy, ruff, bandit

DQB-27 Fix integration tests by fixing event loop creation
  src/conftest.py
Due: black, ruff

DQB-27 Update sqlalchemy and pytest versioning
  .gitlint
  poetry.lock
  pyproject.toml
Due: none

DQB-27 Fix pydantic config not properly dumping db uri
  alembic/env.py
  src/config.py
Due: black, mypy, ruff, bandit

DQB-27 Align tests with actual run of bot
  src/config.py
  src/conftest.py
  src/helpers/sqlalchemy_helpers.py
  src/repositories.py
Due: black, mypy, ruff, bandit

DQB-27 Remove unnecessary mypy workaround
  src/bot/commands.py
Due: black, mypy, ruff, bandit

DQB-27 Introduce menu tables and update alembic for sqlmodel
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/4232a8d67776_introduce_menu_tables.py
  poetry.lock
  pyproject.toml
  src/model_hub.py
Due: black, mypy, ruff, bandit

DQB-27 Update ignore files
  .dockerignore
  .gitignore
Due: none

DQB-27 Update tavern group to add more layers
  src/bot/commands.py
  src/bot/constants.py
  src/bot/controllers.py
  src/config.py
  src/conftest.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/tavern/models.py
  src/tavern/services.py
  src/tests/test_repositories.py
Due: black, mypy, ruff, bandit

DQB-27 Introduce code behind add menu item
  src/bot/commands.py
  src/bot/controllers.py
  src/containers.py
  src/repositories.py
  src/tavern/__init__.py
  src/tavern/services.py
  src/tests/bot/test_controllers.py
Due: black, mypy, ruff, bandit

DQB-27 Fix menu lookup query
  alembic/versions/9deebb8552c0_update_server_id_to_big_int.py
  src/tavern/models.py
  src/tavern/services.py
Due: black, mypy, ruff, bandit

DQB-27 Update group commands and clean up menu format
  src/bot/commands.py
  src/bot/controllers.py
  src/repositories.py
  src/tavern/services.py
Due: black, mypy, ruff, bandit

DQB-27 Create unit tests for upsert controller
  src/bot/controllers.py
  src/tavern/services.py
  src/tests/bot/test_controllers.py
Due: black, mypy, ruff, bandit

DQB-27 Introduce new integration tests
  src/helpers/sqlalchemy_helpers.py
  src/tests/test_repositories.py
Due: black, mypy, ruff, bandit

DQB-27 Update more of query arg to remove type in name
  src/helpers/sqlalchemy_helpers.py
  src/tests/test_repositories.py
Due: black, mypy, ruff, bandit

DQB-27 Update ruff config to support new style
  pyproject.toml
Due: none

DQB-27 Update service code to support multiple repos
  src/bot/commands.py
  src/bot/controllers.py
  src/conftest.py
  src/containers.py
  src/helpers/sqlalchemy_helpers.py
  src/quests/services.py
  src/services.py
  src/tavern/__init__.py
  src/tavern/exceptions.py
  src/tavern/services.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
  src/tests/test_repositories.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

DQB-27 Create tests for remove item
  src/bot/commands.py
  src/bot/controllers.py
  src/tests/bot/test_controllers.py
  src/tests/tavern/test_services.py
Due: black, mypy, ruff, bandit

DQB-27 Create more tests for deleting a menu item
  src/tavern/services.py
  src/tests/tavern/test_services.py
Due: black, mypy, ruff, bandit

DQB-27 Fix typo in docker ignore
  .dockerignore
Due: none

DQB-27 Update github actions
  .github/workflows/python-app.yml
Due: none

DQB-39 Refactor quest commands
  src/bot/commands.py
Due: black, mypy, ruff, bandit

DQB-39 Refactor quest commands (#40)
  src/bot/commands.py
Due: black, mypy, ruff, bandit

DQB-28 Created command to choose from menu
  src/bot/commands.py
  src/bot/controllers.py
  src/constants.py
Due: black, mypy, ruff, bandit

DQB-28 Introduce more of select command
  src/bot/commands.py
  src/bot/typeshed.py
Due: black, mypy, ruff, bandit

DQB-28 Clean up select command code and create tests for controller
  poetry.lock
  pyproject.toml
  src/bot/commands.py
  src/bot/constants.py
  src/bot/controllers.py
  src/conftest.py
  src/tests/bot/test_controllers.py
Due: black, mypy, ruff, bandit

DQB-28 Upgrade python packages
  poetry.lock
Due: none

DQB-28 Update tests to use factory boy and introduce factories
  poetry.lock
  pyproject.toml
  src/conftest.py
  src/containers.py
  src/helpers/factories/__init__.py
  src/helpers/factories/base_factories.py
  src/helpers/factories/quest_factories.py
  src/helpers/factories/tavern_factories.py
  src/helpers/factories/user_factories.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
Due: black, mypy, ruff, bandit

DQB-28 Delete broken factory
  src/helpers/factories/quest_factories.py
Due: black, mypy, ruff, bandit

Dqb 28 choose meal (#41)
  poetry.lock
  pyproject.toml
  src/bot/commands.py
  src/bot/constants.py
  src/bot/controllers.py
  src/bot/typeshed.py
  src/conftest.py
  src/constants.py
  src/containers.py
  src/helpers/factories/__init__.py
  src/helpers/factories/base_factories.py
  src/helpers/factories/quest_factories.py
  src/helpers/factories/tavern_factories.py
  src/helpers/factories/user_factories.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
Due: black, mypy, ruff, bandit

Remove bandit and replace with it's ruff variant
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/bot/controllers.py
Due: black, mypy, ruff, bandit

Remove bandit and replace with it's ruff variant (#42)
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/bot/controllers.py
Due: black, mypy, ruff, bandit

Refactor repository generation within core container to re-use a callable passed into each service
  src/conftest.py
  src/containers.py
  src/services.py
  src/tests/bot/test_services.py
  src/tests/tavern/test_services.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

Path conditions:
  black: any of: \.py$
  mypy: any of: \.py$, but not: alembic|test_.*|conftest\.py
  ruff: any of: \.py$, but not: alembic
  bandit: any of: \.py$, but not: alembic|test_.*|conftest.py
