Repository jplhanna/discord_quest_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff format, mypy, ruff lint

ruff format:
  name: ruff format
  entry: ruff format
  language: system
  args:
  - --line-length=120

mypy:
  name: mypy
  entry: mypy
  language: system

ruff lint:
  name: ruff lint
  entry: ruff check
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

[DQB-43] Further upgrade packages
  poetry.lock
  pyproject.toml
Due: none

[DQB-43] introduce some of the story work
  src/bot/controllers.py
  src/config.py
  src/conftest.py
  src/tavern/models.py
  src/tavern/services.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
  src/tests/test_repositories.py
Due: ruff format, mypy, ruff lint

[DQB-43] Replace poetry with uv and upgrade dependency injector
  .pre-commit-config.yaml
  Dockerfile
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/containers.py
  uv.lock
Due: ruff format, mypy, ruff lint

[DQB-43] Fixed docker ignore and docker compose volume issue by fine tuning the volume only to the app code
  .dockerignore
  .github/workflows/python-app.yml
  Dockerfile
  docker-compose.yml
  src/tests/bot/test_controllers.py
Due: ruff format, ruff lint

[DQB-43] Setup proper caching
  Dockerfile
Due: none

[DQB-43] Upgrade sqlmodel version
  pyproject.toml
  src/models.py
  src/run.py
  uv.lock
Due: ruff format, mypy, ruff lint

[DQB-43] Update randomization to utilize sql random ordering plus other misc changes
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
  src/bot/controllers.py
  src/helpers/factories/tavern_factories.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/tavern/services.py
  src/tests/tavern/test_services.py
  uv.lock
Due: ruff format, mypy, ruff lint

[DQB-43] Clean up factory boy implementation and upgrade packages
  pyproject.toml
  src/conftest.py
  src/helpers/factories/__init__.py
  src/helpers/factories/base_factories.py
  src/repositories.py
  src/typeshed.py
  uv.lock
Due: ruff format, mypy, ruff lint

[DQB-43] All tests have been fixed
  pyproject.toml
  src/conftest.py
  src/helpers/factories/base_factories.py
  src/tests/tavern/test_services.py
Due: ruff format, mypy, ruff lint

[DQB-43] Make it so only integration tests require session async loops
  pyproject.toml
  src/tests/tavern/test_services.py
  src/tests/test_repositories.py
Due: ruff format, ruff lint

[DQB-43] Introduce import linting
  .pre-commit-config.yaml
  pyproject.toml
  src/conftest.py
  src/containers.py
  src/factories/__init__.py
  src/factories/base_factories.py
  src/factories/quest_factories.py
  src/factories/tavern_factories.py
  src/factories/user_factories.py
  src/helpers/message_helpers.py
  uv.lock
Due: ruff format, mypy, ruff lint

[DQB-43] Upgrade packages
  pyproject.toml
  uv.lock
Due: none

[DQB-43] pyproject toml clean up
  pyproject.toml
Due: none

[DQB-43] Introduce require final typing custom rule
  .pre-commit-config.yaml
  linting_rules/__init__.py
  linting_rules/constants_rule.py
  pyproject.toml
  src/bot/constants.py
  src/config.py
  src/constants.py
  src/factories/__init__.py
  src/helpers/constants.py
  src/tests/bot/test_controllers.py
  uv.lock
Due: ruff format, mypy, ruff lint

[DQB-43] Add custom linter to pre-commit hook
  .pre-commit-config.yaml
  linting_rules/constants_rule.py
Due: ruff format, mypy, ruff lint

[DQB-43] Add additional invalid test case
  linting_rules/constants_rule.py
Due: ruff format, mypy, ruff lint

[DQB-43] Fix final definitions and consolidate date docker compose commands
  .github/workflows/python-app.yml
  src/bot/constants.py
  src/helpers/constants.py
Due: ruff format, mypy, ruff lint

[PACKAGES-2026] Upgrade packages
  uv.lock
Due: none

[PACKAGES-2026] Upgrade packages (#46)
  uv.lock
Due: none

Initial introduction of polyfactory
  pyproject.toml
  src/factories/base_factories.py
  src/factories/quest_factories.py
  src/factories/tavern_factories.py
  src/factories/user_factories.py
  src/tests/bot/test_controllers.py
  uv.lock
Due: ruff format, mypy, ruff lint

Completely replace FactoryBoy with PolyFactory
  src/conftest.py
  src/factories/__init__.py
  src/factories/base_factories.py
  src/factories/quest_factories.py
  src/factories/tavern_factories.py
  src/factories/user_factories.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
  src/tests/tavern/test_services.py
Due: ruff format, mypy, ruff lint

Remove factory-boy from dependencies
  pyproject.toml
  uv.lock
Due: none

Replace usages of factory boy fixtures
  src/factories/base_factories.py
  src/factories/tavern_factories.py
  src/tests/bot/test_controllers.py
Due: ruff format, mypy, ruff lint

Remove unnecessary post_generate and replace theme factory with fixture
  src/factories/tavern_factories.py
  src/tests/tavern/test_services.py
Due: ruff format, mypy, ruff lint

Initial introduction of polyfactory (#47)
  pyproject.toml
  src/conftest.py
  src/factories/__init__.py
  src/factories/base_factories.py
  src/factories/quest_factories.py
  src/factories/tavern_factories.py
  src/factories/user_factories.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
  src/tests/tavern/test_services.py
  uv.lock
Due: ruff format, mypy, ruff lint

Introduce pyrefly and refactor imports to no longer mention src. as the root of the code is assumed to be src
  alembic/env.py
  alembic/versions/4232a8d67776_introduce_menu_tables.py
  pyproject.toml
  src/bot/__init__.py
  src/bot/commands.py
  src/bot/controllers.py
  src/bot/typeshed.py
  src/config.py
  src/conftest.py
  src/containers.py
  src/factories/quest_factories.py
  src/factories/tavern_factories.py
  src/factories/user_factories.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/model_hub.py
  src/models.py
  src/quests/__init__.py
  src/quests/exceptions.py
  src/quests/models.py
  src/quests/services.py
  src/repositories.py
  src/run.py
  src/services.py
  src/tavern/__init__.py
  src/tavern/models.py
  src/tavern/services.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
  src/tests/helpers/test_message_helpers.py
  src/tests/tavern/test_models.py
  src/tests/tavern/test_services.py
  src/tests/test_repositories.py
  src/typeshed.py
  uv.lock
Due: ruff format, mypy, ruff lint

Upgrade packages and run ruff check
  src/bot/controllers.py
  src/config.py
  src/containers.py
  src/quests/services.py
  src/tavern/services.py
  uv.lock
Due: ruff format, mypy, ruff lint

Initialize pyrefly config, and update pre-commit config
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix pyrefly errors and modify configuration to meet desired outcome
  .pre-commit-config.yaml
  pyproject.toml
  src/bot/typeshed.py
  src/config.py
  src/conftest.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/quests/models.py
  src/repositories.py
  src/typeshed.py
Due: ruff format, mypy, ruff lint

Update github action to use pyrefly
  .github/workflows/python-app.yml
Due: none

Path conditions:
  ruff format: any of: \.py$
  mypy: any of: \.py$, but not: alembic|test_.*|conftest\.py
  ruff lint: any of: \.py$, but not: alembic
