Repository jplhanna/discord_quest_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pylint

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

remove cache line and update poetry version
  .github/workflows/python-app.yml
  Dockerfile
Due: none

Create Command To complete quests (#24)
  Dockerfile
  alembic/versions/34595942c400_.py
  alembic/versions/76bd75f57769_.py
  alembic/versions/97da7b8f3703_.py
  poetry.lock
  pyproject.toml
  src/bot/commands.py
  src/bot/controllers.py
  src/bot/tests/test_controllers.py
  src/bot/tests/test_services.py
  src/conftest.py
  src/containers.py
  src/exceptions.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/services.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Updating UserQuest to stop being handled as a many to many relationship and allow for easily setting one as completed by date, rather than by bool column
  src/containers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/services.py
Due: black, flake8, mypy, pylint

Updated tests accordingly
  src/bot/tests/test_services.py
  src/conftest.py
  src/tests/test_repositories.py
Due: black, flake8, pylint

Remove need to override UserQuest equality override
  src/bot/tests/test_services.py
  src/models.py
  src/services.py
Due: black, flake8, mypy, pylint

Delete equality override
  src/models.py
Due: black, flake8, mypy, pylint

Fix final broken test
  src/bot/tests/test_services.py
  src/conftest.py
  src/models.py
Due: black, flake8, mypy, pylint

Update database
  alembic/versions/d67cfff45d3f_.py
Due: none

Recreate user_quest table in order to fix the id column
  alembic/versions/2f0c6e712786_.py
Due: none

Fix query by explicitely defining expression of hybrid property
  src/models.py
Due: black, flake8, mypy, pylint

Fix user quest functionality (#25)
  alembic/versions/2f0c6e712786_.py
  alembic/versions/d67cfff45d3f_.py
  src/bot/tests/test_services.py
  src/conftest.py
  src/containers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/services.py
  src/tests/test_repositories.py
Due: black, flake8, mypy, pylint

Update packages
  poetry.lock
Due: none

Update mixin to use meta class and closer resemble standard for mixin. Add type ignores because mypy doesn't recognize declr_attr
  .github/workflows/python-app.yml
  src/models.py
  src/services.py
Due: black, flake8, mypy, pylint

Fix type hint problem with registering bots, and ignore false negative linter issues
  src/bot/commands.py
  src/bot/typeshed.py
  src/repositories.py
Due: black, flake8, mypy, pylint

Update packages (#26)
  .github/workflows/python-app.yml
  poetry.lock
  src/bot/commands.py
  src/bot/typeshed.py
  src/models.py
  src/repositories.py
  src/services.py
Due: black, flake8, mypy, pylint

Replaced pylint with the much faster ruff
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/tests/test_repositories.py
Due: black, flake8, pylint

Update ruff to not ignore test files
  .pre-commit-config.yaml
Due: none

Refix poetry lock file
  poetry.lock
  pyproject.toml
Due: none

Replace pylint with ruff (#33)
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/tests/test_repositories.py
Due: black, flake8, pylint

Move tests files under a single package, and update sqlalchemy_helpers so classes only needed in QueryArgs are now hidden
  src/helpers/sqlalchemy_helpers.py
  src/tests/bot/.pytest_cache/.gitignore
  src/tests/bot/.pytest_cache/CACHEDIR.TAG
  src/tests/bot/.pytest_cache/README.md
  src/tests/bot/__init__.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
  src/tests/helpers/__init__.py
  src/tests/helpers/test_message_helpers.py
Due: black, flake8, mypy, pylint

Move quest work into it's own subpackage and define what you can import
  src/bot/controllers.py
  src/conftest.py
  src/containers.py
  src/exceptions.py
  src/helpers/message_helpers.py
  src/models.py
  src/quests/__init__.py
  src/quests/exceptions.py
  src/quests/models.py
  src/quests/services.py
  src/services.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
  src/tests/helpers/test_message_helpers.py
Due: black, flake8, mypy, pylint

Reorganize repo to be more module focused (#34)
  src/bot/controllers.py
  src/conftest.py
  src/containers.py
  src/exceptions.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/quests/__init__.py
  src/quests/exceptions.py
  src/quests/models.py
  src/quests/services.py
  src/services.py
  src/tests/bot/.pytest_cache/.gitignore
  src/tests/bot/.pytest_cache/CACHEDIR.TAG
  src/tests/bot/.pytest_cache/README.md
  src/tests/bot/__init__.py
  src/tests/bot/test_controllers.py
  src/tests/bot/test_services.py
  src/tests/helpers/__init__.py
  src/tests/helpers/test_message_helpers.py
Due: black, flake8, mypy, pylint

Update dockerfile and pyproject
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

Fix docker build issue with not having access to mypy breaking starting the app
  src/bot/typeshed.py
Due: black, flake8, mypy, pylint

Remove usage of async test and replace with the now available AsyncMock
  poetry.lock
  pyproject.toml
  src/conftest.py
  src/tests/bot/test_services.py
Due: black, flake8, pylint

Update pre-commit hook to run with fix, added flake8 pytest and isort to list of linteres run
  .pre-commit-config.yaml
  pyproject.toml
  src/bot/typeshed.py
  src/models.py
  src/run.py
  src/tests/bot/test_services.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Remove flake8 now that it's being run through ruff
  poetry.lock
  pyproject.toml
Due: none

Add raise and return rules
  pyproject.toml
Due: none

Run fix on new breaks after adding rules
  src/bot/controllers.py
  src/conftest.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/quests/services.py
  src/repositories.py
Due: black, flake8, mypy, pylint

Up max complexity to something more reasonable
  pyproject.toml
Due: none

Update ruff with a handful of useful tools and fixed any remaining errors
  pyproject.toml
  src/bot/typeshed.py
  src/conftest.py
  src/containers.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/quests/services.py
  src/repositories.py
  src/services.py
  src/tests/bot/test_services.py
  src/tests/test_repositories.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Add check-toml to pre commit hook
  .pre-commit-config.yaml
Due: none

Updated select to not go over line length
  pyproject.toml
Due: none

Update pre-commit hook to better handle formating the pyproject oml
  .pre-commit-config.yaml
Due: none

Reformatted toml file
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$, but not: alembic
  flake8: any of: \.py$, but not: alembic
  mypy: any of: \.py$, but not: alembic|test_.*|conftest\.py
  pylint: any of: \.py$, but not: alembic
