Repository jplhanna/discord_quest_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: alembic

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: double-quote-string-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, production]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        exclude: alembic

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: alembic|test_.*|conftest\.py

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: alembic

Move dev packages (#6)
  Dockerfile
  Pipfile
  Pipfile.lock
  docker-compose.yml
Due: none

Moved all files into src package for better organization
  alembic/env.py
  bot/__init__.py
  src/__init__.py
  src/bot/__init__.py
  src/bot/commands.py
  src/bot/constants.py
  src/bot/controllers.py
  src/bot/tests/.pytest_cache/.gitignore
  src/bot/tests/.pytest_cache/CACHEDIR.TAG
  src/bot/tests/.pytest_cache/README.md
  src/bot/tests/__init__.py
  src/bot/tests/test_controllers.py
  src/config.py
  src/conftest.py
  src/constants.py
  src/containers.py
  src/exceptions.py
  src/helpers/__init__.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/run.py
  src/services.py
  src/tests/__init__.py
  src/tests/test_repositories.py
  src/typeshed.py
  test_config.py
Due: black, flake8, mypy, pylint

Fixed gitignore issue
  src/bot/tests/.pytest_cache/.gitignore
Due: none

Remove files accidentely added
  src/bot/tests/.pytest_cache/.gitignore
  src/bot/tests/.pytest_cache/CACHEDIR.TAG
  src/bot/tests/.pytest_cache/README.md
Due: none

Moved test_config
  src/conftest.py
  src/test_config.py
Due: black, flake8, pylint

Add line that makes each step run even if 1 fails
  .github/workflows/python-app.yml
Due: none

Update pylint job to run against src package
  .github/workflows/python-app.yml
Due: none

Fix error in pylint command
  .github/workflows/python-app.yml
Due: none

Moved all files into src package for better organization (#7)
  .github/workflows/python-app.yml
  alembic/env.py
  bot/__init__.py
  src/__init__.py
  src/bot/__init__.py
  src/bot/commands.py
  src/bot/constants.py
  src/bot/controllers.py
  src/bot/tests/__init__.py
  src/bot/tests/test_controllers.py
  src/config.py
  src/conftest.py
  src/constants.py
  src/containers.py
  src/exceptions.py
  src/helpers/__init__.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/run.py
  src/services.py
  src/test_config.py
  src/tests/__init__.py
  src/tests/test_repositories.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Created an initial ReadMe file
  README.md
Due: none

Created an initial ReadMe file (#8)
  README.md
Due: none

Slight reformat to read me file
  README.md
Due: none

Create metaclass which auto generates the __tablename__ and moved BaseModel to helper file. Create Quest model and many to many table between quest and user
  alembic/env.py
  src/__init__.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
Due: black, flake8, mypy, pylint

Files with updated imports
  src/conftest.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Created migration to add quest and user_quest
  alembic/versions/eada4e111ff3_.py
Due: none

Fixed bug in many_to_many function
  src/helpers/sqlalchemy_helpers.py
  src/models.py
Due: black, flake8, mypy, pylint

Made quest to user relationship more explicit, and created Service method for accepting a quest
  src/models.py
  src/services.py
Due: black, flake8, mypy, pylint

Created command for accepting quest
  src/bot/commands.py
  src/bot/controllers.py
  src/containers.py
Due: black, flake8, mypy, pylint

Fix docker startup of bot
  docker-compose.yml
  src/config.py
Due: black, flake8, mypy, pylint

Comment out logging ini, it's breaking discord logger setup. Need to debug this
  logging.ini
  src/containers.py
  src/run.py
Due: black, flake8, mypy, pylint

Updated packages
  Pipfile.lock
Due: none

Fix docker-compose issue where backend could not access the postgres db
  docker-compose.yml
Due: none

Added message to db migration
  alembic/versions/eada4e111ff3_.py
Due: none

Fix mypy errors from upgrading packages
  src/containers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Update migration to include name column
  alembic/versions/eada4e111ff3_.py
Due: none

Created unit tests for the controller function
  src/bot/constants.py
  src/bot/controllers.py
  src/bot/tests/test_controllers.py
  src/conftest.py
Due: black, flake8, mypy, pylint

More updates to tests
  src/bot/tests/test_controllers.py
  src/conftest.py
Due: black, flake8, pylint

Created Service test for quest service
  src/bot/tests/test_services.py
Due: black, flake8, pylint

Cleaned up service test
  src/bot/tests/test_services.py
Due: black, flake8, pylint

Update command to pull quest name from message
  src/bot/commands.py
  src/bot/controllers.py
  src/bot/tests/test_controllers.py
Due: black, flake8, mypy, pylint

Created helper function for case insensitive str comparison
  src/helpers/sqlalchemy_helpers.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Updating quest query to be case insensitive
  src/services.py
Due: black, flake8, mypy, pylint

Adding todo about session context
  src/services.py
Due: black, flake8, mypy, pylint

Migrating from pipenv to poetry
  Dockerfile
  Pipfile.lock
  poetry.lock
  pyproject.toml
Due: none

Migrating from pipenv to poetry (#9)
  Dockerfile
  Pipfile.lock
  poetry.lock
  pyproject.toml
Due: none
