Repository jplhanna/discord_quest_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, ruff, bandit

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args: [ --line-length=120 ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: no-commit-to-branch
        args: [ --branch, master, --branch, production ]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        exclude: alembic|test_.*|conftest\.py

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [ python ]
        exclude: alembic
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        exclude: alembic|test_.*|conftest.py
        args: [ -c, pyproject.toml ]

Update ignores to include easy local files, also update user repo mock to properly mock out
  .dockerignore
  .gitignore
  src/conftest.py
Due: black, ruff

Upgrade to python 3.11 (#35)
  .dockerignore
  .gitignore
  Dockerfile
  poetry.lock
  pyproject.toml
  src/bot/typeshed.py
  src/conftest.py
  src/tests/bot/test_services.py
Due: black, mypy, ruff, bandit

Fix lock file post conflict resolution
  poetry.lock
Due: none

Remove flake8 from pipeline
  .github/workflows/python-app.yml
Due: none

Remove flake8 pyroject library
  poetry.lock
  pyproject.toml
Due: none

Remove unnecessary pylint disable comments
  src/bot/commands.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

Extend usage of ruff, and remove flake8 (#36)
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/bot/commands.py
  src/bot/controllers.py
  src/bot/typeshed.py
  src/conftest.py
  src/containers.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/quests/services.py
  src/repositories.py
  src/run.py
  src/services.py
  src/tests/bot/test_services.py
  src/tests/test_repositories.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

DQB-27 Created menu tables
  src/quests/models.py
  src/tavern/__init__.py
  src/tavern/models.py
Due: black, mypy, ruff, bandit

Add initial implementation of MenuService
  src/containers.py
  src/tavern/__init__.py
  src/tavern/models.py
  src/tavern/services.py
Due: black, mypy, ruff, bandit

DQB-27 Fix black alembic hook to no longer think line lenght is 79
  alembic.ini
Due: none

Add .env to .gitignore file
  .gitignore
Due: none

Update precommit with hook that auto adds ticket from branch name
  .pre-commit-config.yaml
Due: none

Update pre commit config so things are install into the correct stages
  .pre-commit-config.yaml
Due: none

Update docker to use pipx rather than a curl command
  Dockerfile
Due: none

Update the docker file to utilize pipx and an up to date version of poetry
  Dockerfile
Due: none

Fix comments in Dockerfile
  Dockerfile
Due: none

Clean up DockerFile (#37)
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
Due: none

Created IntEnum model type
  src/constants.py
  src/helpers/sqlalchemy_helpers.py
Due: black, mypy, ruff, bandit

Introduce initial retrieve tavern menu of the week support
  src/bot/commands.py
  src/bot/controllers.py
  src/tavern/services.py
Due: black, mypy, ruff, bandit

Fix commit-msg hook
  .pre-commit-config.yaml
Due: none

Update ars for giticket
  .pre-commit-config.yaml
Due: none

Update pre commit versions and set giticket mode
  .pre-commit-config.yaml
Due: none

DQB-27 Update gitlint rules
  .gitlint
Due: none

DQB-27 Fix commit msg hooks
  .gitlint
  .pre-commit-config.yaml
Due: none

Add menu data in tavern menu command response
  src/bot/commands.py
  src/bot/controllers.py
  src/tavern/models.py
Due: black, mypy, ruff, bandit

Update MenuItem to use Enum and update Menu query to be more specific
  src/bot/commands.py
  src/helpers/sqlalchemy_helpers.py
  src/tavern/models.py
  src/tavern/services.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

DQB-27 Create test for menu item grouping property
  src/tavern/models.py
  src/tests/tavern/__init__.py
  src/tests/tavern/test_models.py
Due: black, mypy, ruff, bandit

DQB-27 Write tests for the new menu retrieval command
  src/bot/controllers.py
  src/conftest.py
  src/constants.py
  src/tavern/services.py
  src/tests/bot/test_controllers.py
  src/tests/tavern/test_models.py
Due: black, mypy, ruff, bandit

DQB-27 Migrate dictionary configuration to pydantic-settings
  poetry.lock
  pyproject.toml
  src/containers.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

DQB-27 Update poetry lock file with new package versions
  poetry.lock
  pyproject.toml
Due: none

DQB-27 Finish migration from dict based settings to pydantic
  docker-compose.yml
  src/bot/commands.py
  src/config.py
  src/conftest.py
  src/run.py
  src/test_config.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

DQB-27 Update to better support local setup
  Dockerfile
  README.md
  docker-compose.yml
Due: none

DQB-27 Fix issues with the Pydantic Setings configuration
  src/containers.py
  src/run.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

DQB-27 Enforce non empty strings in configuration
  src/typeshed.py
Due: black, mypy, ruff, bandit

DQB-27 Migrate to pydantic and SQLModel
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/config.py
  src/conftest.py
  src/containers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/quests/models.py
  src/quests/services.py
  src/repositories.py
  src/run.py
  src/tavern/models.py
  src/tavern/services.py
  src/test_config.py
  src/typeshed.py
Due: black, mypy, ruff, bandit
