Repository jplhanna/discord_quest_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: alembic

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: double-quote-string-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, production]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        exclude: alembic

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: alembic|test_.*|conftest\.py

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: alembic

Fix import of Result, and fix instalation of sqlalchemy
  poetry.lock
  pyproject.toml
  src/repositories.py
Due: black, flake8, mypy, pylint

Pinning major versions of main packages
  poetry.lock
  pyproject.toml
Due: none

Move pylintrc to pyproject.toml
  .pylintrc
  pyproject.toml
Due: none

refactored session to be built only in the base query methods, and session_context be stored for re-use
  src/repositories.py
Due: black, flake8, mypy, pylint

Remove todo and fix unit test
  src/bot/tests/test_services.py
  src/services.py
Due: black, flake8, mypy, pylint

Replaced context manager solution with a regular function that returns the session, scoped_session should be handling it
  src/containers.py
  src/repositories.py
Due: black, flake8, mypy, pylint

Fixed quest.user to quest.users and updated accept quest to append the current user to it's list of users rather than the otherway around
  src/models.py
  src/services.py
Due: black, flake8, mypy, pylint

Updated unit test
  src/bot/tests/test_services.py
Due: black, flake8, pylint

Added check to stop someone from accepting a quest twice
  src/bot/constants.py
  src/bot/tests/test_services.py
  src/services.py
Due: black, flake8, mypy, pylint

Removing commented out line, and re-adding context manager
  src/containers.py
Due: black, flake8, mypy, pylint

Moved constants to fix circular dependency issue
  src/bot/constants.py
  src/bot/tests/test_services.py
  src/constants.py
  src/services.py
Due: black, flake8, mypy, pylint

Add command to add quest (#10)
  .pylintrc
  alembic/env.py
  alembic/versions/eada4e111ff3_.py
  docker-compose.yml
  logging.ini
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/bot/commands.py
  src/bot/constants.py
  src/bot/controllers.py
  src/bot/tests/test_controllers.py
  src/bot/tests/test_services.py
  src/config.py
  src/conftest.py
  src/constants.py
  src/containers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/run.py
  src/services.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Rename poetry project name to match repo name
  pyproject.toml
Due: none

Fix mypy bugs and upgrade packages
  poetry.lock
  setup.cfg
  src/containers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
Due: black, flake8, mypy, pylint

Add bandit and fix github action to run on mr to main rather than master
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Give default value to query_args so it's not always required
  src/repositories.py
Due: black, flake8, mypy, pylint

Created helper function to format quest board message, still needs work because discord characters are not all the same length
  src/helpers/message_helpers.py
  src/helpers/test_message_helpers.py
Due: black, flake8, mypy, pylint

Added functionality to easily extend a classes representation
  src/models.py
Due: black, flake8, mypy, pylint

Created command to request a list of quests that are currently available
  src/bot/commands.py
  src/bot/controllers.py
  src/services.py
Due: black, flake8, mypy, pylint

Moved constants into constants file, cleaned up string to use a code block for consistent formatting
  src/helpers/constants.py
  src/helpers/message_helpers.py
  src/helpers/test_message_helpers.py
Due: black, flake8, mypy, pylint

Writing paramerterized test for checking that length is calculated correctly
  src/helpers/test_message_helpers.py
Due: black, flake8, pylint

Fixed test and added more cases
  src/helpers/test_message_helpers.py
Due: black, flake8, pylint

Added pytest flake8 plugin to also analyze unit test files
  poetry.lock
  pyproject.toml
Due: none

Cleaning up pytest flake8 error
  src/bot/tests/test_controllers.py
  src/bot/tests/test_services.py
  src/conftest.py
  src/tests/test_repositories.py
Due: black, flake8, pylint

Updating command prefix to meet new standard of discord
  src/bot/commands.py
Due: black, flake8, mypy, pylint

Addressing review comments and fixing mypy errors
  src/bot/commands.py
  src/containers.py
  src/helpers/constants.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
Due: black, flake8, mypy, pylint

Create list all quests command (#18)
  poetry.lock
  pyproject.toml
  src/bot/commands.py
  src/bot/controllers.py
  src/bot/tests/test_controllers.py
  src/bot/tests/test_services.py
  src/conftest.py
  src/containers.py
  src/helpers/constants.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/helpers/test_message_helpers.py
  src/models.py
  src/repositories.py
  src/services.py
  src/tests/test_repositories.py
Due: black, flake8, mypy, pylint

Upgrade discord version to directly use discord.py
  poetry.lock
  pyproject.toml
  src/bot/commands.py
Due: black, flake8, mypy, pylint

Moving setting to pyproject.toml and fixing some mypy errors based on setting up / commands
  pyproject.toml
  src/bot/commands.py
Due: black, flake8, mypy, pylint

Update coverage and pytest and black settings to be in pyproject.toml
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

Add is_owner checks to command only meant to be used by devs
  Dockerfile
  docker-compose.yml
  src/bot/commands.py
  src/config.py
Due: black, flake8, mypy, pylint

Updated Dockerfile to use the stable version of 1.2.0 of poetry and added a package to read flake8 settings from pyproject.toml allowing me to remove setup.cfg completely
  Dockerfile
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

Upgrade discord py version (#20)
  Dockerfile
  docker-compose.yml
  poetry.lock
  pyproject.toml
  setup.cfg
  src/bot/commands.py
  src/config.py
Due: black, flake8, mypy, pylint

Fixing issued with logging created after the upgrade to discord.py 2.0.
  src/containers.py
  src/run.py
Due: black, flake8, mypy, pylint
