Repository jplhanna/discord_quest_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, ruff, bandit

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args: [ --line-length=120 ]

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.10.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: https://gitlab.com/smop/pre-commit-hooks
    rev: v1.0.0
    hooks:
      - id: check-poetry

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: no-commit-to-branch
        args: [ --branch, master, --branch, production ]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        exclude: alembic|test_.*|conftest\.py

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [ python ]
        exclude: alembic
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        exclude: alembic|test_.*|conftest.py
        args: [ -c, pyproject.toml ]

Refactor repository generation within core container to re-use a call… (#44)
  src/conftest.py
  src/containers.py
  src/services.py
  src/tests/bot/test_services.py
  src/tests/tavern/test_services.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

DQB-43 Add bare skeleton for bard to tell stories
  src/bot/commands.py
  src/models.py
  src/tavern/__init__.py
  src/tavern/models.py
Due: black, mypy, ruff, bandit

DQB-43 Fix theme relationship on BardTale
  src/tavern/models.py
Due: black, mypy, ruff, bandit

DQB-43 Update dependency-injector to a fork that supports 3.12
  poetry.lock
  pyproject.toml
Due: none

DQB-43 Update to use python 3.12
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

DQB-43 Update mypy to support 3.12
  poetry.lock
  pyproject.toml
  src/helpers/sqlalchemy_helpers.py
Due: black, mypy, ruff, bandit

DQB-43 Update packages, and update string fields to enforce no empty strings
  poetry.lock
  pyproject.toml
  src/models.py
  src/quests/models.py
  src/tavern/models.py
Due: black, mypy, ruff, bandit

DQB-43 Update pipelines to be more in parety.
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/conftest.py
  src/exceptions.py
  src/helpers/message_helpers.py
  src/models.py
  src/quests/models.py
  src/quests/services.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

DQB-43 Continue to extend bard tale functionality
  src/bot/controllers.py
  src/containers.py
  src/models.py
  src/quests/models.py
  src/services.py
  src/tavern/services.py
Due: black, mypy, ruff, bandit

DQB-43 Connect commands with controller functions
  src/bot/commands.py
  src/bot/constants.py
  src/bot/controllers.py
Due: black, mypy, ruff, bandit

[DQB-43] Refactor repository classes to use a central base class rather than build sync off of async
  .pre-commit-config.yaml
  src/conftest.py
  src/containers.py
  src/quests/services.py
  src/repositories.py
  src/services.py
  src/tavern/services.py
  src/typeshed.py
Due: black, mypy, ruff, bandit

[DQB-43] Install litestar
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

[DQB-43] Generate first handful of apis
  poetry.lock
  pyproject.toml
  src/api/__init__.py
  src/api/apis.py
  src/api/endpoints.py
  src/api/exceptions.py
  src/api/schemas.py
  src/bot/controllers.py
  src/containers.py
  src/models.py
  src/run.py
  src/services.py
Due: black, mypy, ruff, bandit

[DQB-43] Run package upgrades
  poetry.lock
Due: none

[DQB-43] Fix default factories to use the correct now method
  src/models.py
  src/quests/models.py
Due: black, mypy, ruff, bandit

[DQB-43] Update python packages
  poetry.lock
  pyproject.toml
Due: none

[DQB-43] Upgrade version of postgres server
  docker-compose.yml
Due: none

[DQB-43] turn wire_to in test file into a constant
  src/tests/bot/test_controllers.py
Due: black, ruff
