Repository jplhanna/discord_quest_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pylint

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Fixed logging to use a single logging dictionary
  src/config.py
  src/containers.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Removing unneeded logging setup class
  src/containers.py
Due: black, flake8, mypy, pylint

Deleting logging.ini since it is being setup by a cfg dictionary
  logging.ini
Due: none

Fix mock container
  src/conftest.py
Due: black, flake8, pylint

Mocking the logger
  src/conftest.py
Due: black, flake8, pylint

Fix discord logging (#21)
  logging.ini
  src/config.py
  src/conftest.py
  src/containers.py
  src/run.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Update Model implementations to use dataclasses
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Update alembic config
  alembic/env.py
Due: none

remove usages of BaseModel
  src/conftest.py
  src/containers.py
  src/helpers/sqlalchemy_helpers.py
  src/repositories.py
Due: black, flake8, mypy, pylint

Update hinting to no longer need Typing library, and use builtins
  src/containers.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/repositories.py
  src/services.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Update Model implementations to use dataclasses (#22)
  alembic/env.py
  src/conftest.py
  src/containers.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/services.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Added Doc string to classes, also created table to track a user earning experience
  src/models.py
Due: black, flake8, mypy, pylint

Alembic migration
  alembic/versions/34595942c400_.py
Due: none

Add service functions for completing a quest
  src/services.py
Due: black, flake8, mypy, pylint

Added experience column and post init to set the value
  src/models.py
Due: black, flake8, mypy, pylint

Updated quest services to raise exceptions on failures, and implemented first pass at complete_quest_if_available
  src/containers.py
  src/exceptions.py
  src/services.py
Due: black, flake8, mypy, pylint

Connected command to the services
  src/bot/commands.py
  src/bot/controllers.py
Due: black, flake8, mypy, pylint

Add experience column to the migration
  alembic/versions/34595942c400_.py
Due: none

Update migration to properly handle backfilling datetime_edited
  alembic/versions/34595942c400_.py
Due: none

Refactor quest functions to throw errors win action cannot succeed rather than return a string error message
  src/bot/controllers.py
  src/bot/tests/test_services.py
  src/exceptions.py
  src/services.py
Due: black, flake8, mypy, pylint

Add doc strings to functions which raise errorss
  src/services.py
Due: black, flake8, mypy, pylint

Updating querying functionality to better support migration to sqlalchemy 2.0
  src/helpers/sqlalchemy_helpers.py
  src/repositories.py
Due: black, flake8, mypy, pylint

Updated packages
  poetry.lock
Due: none

Upgrade sqlalchemy to 2.0
  poetry.lock
  pyproject.toml
Due: none

Update project to use sqlalchemy 2.0
  alembic/env.py
  src/bot/commands.py
  src/conftest.py
  src/containers.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/run.py
  src/services.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

removed unused registery
  src/helpers/sqlalchemy_helpers.py
Due: black, flake8, mypy, pylint

Create migration with cascade for many to many tables
  alembic/versions/e5fd3e65f9b9_.py
  src/helpers/sqlalchemy_helpers.py
Due: black, flake8, mypy, pylint

Upgrade sqlalchemy to 2.0 (#23)
  alembic/env.py
  alembic/versions/e5fd3e65f9b9_.py
  poetry.lock
  pyproject.toml
  src/bot/commands.py
  src/conftest.py
  src/containers.py
  src/helpers/message_helpers.py
  src/helpers/sqlalchemy_helpers.py
  src/models.py
  src/repositories.py
  src/run.py
  src/services.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Add cachingg?
  .github/workflows/python-app.yml
Due: none

Set up poetry cache
  .github/workflows/python-app.yml
Due: none

Create a user resource mixin and extended the experience transaction table with it
  src/models.py
  src/typeshed.py
Due: black, flake8, mypy, pylint

Created some unit tests for the controller function
  src/bot/controllers.py
  src/bot/tests/test_controllers.py
  src/conftest.py
Due: black, flake8, mypy, pylint

todo for unit tests
  src/bot/tests/test_services.py
Due: black, flake8, pylint

Update packages
  poetry.lock
Due: none

Add unit tests for the service
  src/bot/tests/test_services.py
Due: black, flake8, pylint

Updated functionality to support max number of times a quest can be completed
  poetry.lock
  pyproject.toml
  src/bot/controllers.py
  src/bot/tests/test_services.py
  src/exceptions.py
  src/models.py
  src/services.py
Due: black, flake8, mypy, pylint

Add db revisions for max completion and completion tracking
  alembic/versions/76bd75f57769_.py
  alembic/versions/97da7b8f3703_.py
Due: none

Path conditions:
  black: any of: \.py$, but not: alembic
  flake8: any of: \.py$, but not: alembic
  mypy: any of: \.py$, but not: alembic|test_.*|conftest\.py
  pylint: any of: \.py$, but not: alembic
